game-project-v-1.0/.godot/mono/metadata/ide_messaging_meta.txt
game-project-v-1.0/.godot/editor/project_metadata.cfg
game-project-v-1.0/.godot/editor/filesystem_cache10
game-project-v-1.0/.godot/editor/filesystem_cache10
